<div class="Navbar">
    <div class="Navbar_Link Navbar__Link-brand">
        Carina Excursões
    </div>
    <div class="Navbar_Link Navbar_link-toggle">
        <span class="material-symbols-sharp">menu</span>
    </div>
    
    <nav class="Navbar_itens Navbar_itens--direita">
        <div class="Navbar_Link">
            Contato
        </div>
        <div class="Navbar_Link">
            Excursões
        </div>
        <div class="Navbar_Link">
            Quem somos
        </div>
    </nav>
</div>

<router-outlet />