@font-face {
  font-family: Coolvetica;
  src: url(../Roboto-Light.ttf);
}

.principal {
  margin: 20px; 
  height: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6)
}

.descricao {
  font-family: Coolvetica;
  align-items: center;
  justify-content: center; 
  color: rgb(226, 226, 226);
  backdrop-filter: blur(10px); 
  border: 2px solid #ffffff; /* Cor e estilo do contorno */
}
 
.descricao h1{
  font-size: 26px;
  margin: 20px;
}
  
.descricao h2{
  font-size: 18px;  
  margin: 20px;
}
